.container {
    background: rgb(104, 104, 104);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: #2bff00 !important;
    color: rgb(0, 0, 0) !important;
    cursor: pointer !important;
    margin-right: 5px !important;
}

button:hover {
    background-color: #1a9b00 !important;
}
